.layout {
    display: flex;
    height: 200vh;
  }
  
  app-sidebar {
    width: 250px;
    flex-shrink: 0;
    background-color: #e0e0e0; 
  }
  .content {
    flex: 1;
    padding: 30px;
  }
  

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-form-field {
    width: 100%;
  }
  mat-select{
    background: #fff;
  }

  mat-label {
    font-weight: 500;
    color: #333;
  }
  
  button[type="submit"] {
    align-self: flex-end;
    margin-top: 16px;
  }

::ng-deep .mat-datepicker-content {
  background-color: #fff !important; 
}

::ng-deep .mat-calendar {
  background-color: #fff !important; 
}

mat-datepicker-toggle {
  background-color: #fff !important;
}