<app-header></app-header>
<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="content">
    <h1>Controle de Estoque</h1>

    <button mat-raised-button (click)="openPopUp()">Criar Categorias</button>
   

    <div *ngIf="showPopup">
      <app-categoria></app-categoria>
      <button mat-raised-button (click)="closePopUp()">Fechar</button>
    </div>
    <br>
    <button mat-raised-button (click)="navigateToEntrada()">Fazer Entrada de Produto</button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 user-table">
      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let produto"> {{produto.id}} </td>
      </ng-container>

      <!-- Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Produto </th>
        <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
      </ng-container>

      <!-- Validade -->
      <ng-container matColumnDef="validade">
        <th mat-header-cell *matHeaderCellDef> Validade </th>
        <td mat-cell *matCellDef="let produto"> {{produto.validade || 'N/A'}} </td>
      </ng-container>

      <!-- Quantidade -->
      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let produto"> {{produto.quantidade}} </td>
      </ng-container>

     <!-- Preço -->
<ng-container matColumnDef="preco">
  <th mat-header-cell *matHeaderCellDef> Preço </th>
  <td mat-cell *matCellDef="let produto">
    R$ {{produto.preco | number:'1.2-2'}}
  </td>
</ng-container>


      <!-- Ações -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let produto">
          <button mat-button (click)="editarProduto(produto)">Editar</button>
          <button mat-button color="warn" (click)="registrarSaida(produto)">Saída</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>