.layout {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: #e0e0e0; /* só para visualizar */
}

.content {
  flex: 1;
  padding: 0 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
}

th,
td {
  padding: 8px;
  text-align: left;
  font-weight: 400;
}

th {
  background-color: white;
}

.filters {
  display: flex;
  justify-content: space-between;

  .filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  input {
    border: 1px solid #e0e0e0;
    border-radius: 5px;

    width: 220px;
    padding: 10px 20px;
  }

  mat-select {
    border: 1px solid #e0e0e0;
    max-width: 220px;
    border-radius: 5px;
    padding: 10px 20px;
  }
}
