<aside class="sidebar">
  <div class="menu-header">MENU</div>
  <ul class="menu-list">
    <li class="menu-item" routerLinkActive="active" routerLink="/home">
      <i class="icon">🏠</i> Home
    </li>
    <li class="menu-item" routerLinkActive="active" routerLink="/users"><i class="icon">👤</i> Usuários</li>
    <li class="menu-item" routerLinkActive="active" routerLink="/estoque"><i class="icon">📦</i> Estoque</li>
    <li class="menu-item" routerLinkActive="active" routerLink="/dashboard"><i class="icon">📊</i> Relatórios</li>
    <li class="menu-item" routerLinkActive="active" routerLink="/produtos"><i class="icon">🎓</i> Produtos</li>
  </ul>
</aside>