<aside class="sidebar">
    <div class="menu-header">MENU</div>
    <ul class="menu-list">
      <li class="menu-item active">
        <i class="icon">🏠</i> Dashboard
      </li>
      <li class="menu-item"><i class="icon">👤</i> Usuários</li>
      <li class="menu-item"><i class="icon">📦</i> Estoque</li>
      <li class="menu-item"><i class="icon">📊</i> Relatórios</li>
      <li class="menu-item"><i class="icon">🎓</i> Bolsistas</li>
      <li class="menu-item"><i class="icon">🏢</i> Fornecedores</li>
    </ul>
  </aside>
  