.layout {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: #e0e0e0; /* só para visualizar */
}

.content {
  flex: 1;
  padding: 0 50px;
  font-size: 16px;
}

.user-table {
  width: 80%;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.status {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
}

.status.ativo {
  background-color: #e0f7fa;
  color: #00796b;
}

.status.desativado {
  background-color: #ffebee;
  color: #c62828;
}

.status.em-análise {
  background-color: #fff8e1;
  color: #f57f17;
}

button {
  font-size: 16px;

  background-color: #e1e1e1;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
