div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  height: 90vh;
}

h2 {
  font-size: 24px;
}

input {
  display: flex;
  width: 600px;
  padding: 19px 16px;
  align-items: center;

  border-radius: 5px;
  border: 1px solid #000;
}

button {
  border-radius: 110px;
  display: flex;
  width: 600px;
  padding: 19px 20px;
  justify-content: center;
  align-items: center;

  background: #000;
  color: #fff;
}

p {
  text-align: center;
}
