<app-header></app-header>
<div class="layout">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="box-container">
            <h1>Menu Principal</h1>
            <div class="box"><a href="/users">Usuários</a></div>

            <div class="box"><a href="/estoque">Estoque</a></div>

            <div class="box"><a href="/dashboard">Relatórios</a></div>

            <div class="box"><a href="/produtos">Produtos</a></div>

            <div class="box"><a href="">Solicitações de Bolsa</a></div>

            <div class="box"><a href="">Configurações</a></div>

            <div class="box"><a href="">teste</a></div>

            <div class="box"><a href="">teste</a></div>
        </div>
    </div>

</div>